[Unit]
Description=Prometheus FreeSwitch exporter

[Service]
CapabilityBoundingSet=
PrivateDevices=true
ProtectHome=true
ExecStart=/usr/bin/freeswitch_exporter
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
