[Unit]
Description=Prometheus FreeSwitch exporter

[Service]
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET AF_INET6
PrivateDevices=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ProtectHome=true
MemoryDenyWriteExecute=true
DynamicUser=true
ExecStart=/usr/bin/freeswitch_exporter

[Install]
WantedBy=multi-user.target
